*, *:before, *after {
    box-sizing: border-box;
}

body {
    font-family: Montserrat;
    margin: 0;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;

}

a {
    text-decoration: none;
    color: black;
}


li {
    list-style: none;
}

.yellow-highlite {
    color: #ffda68;
}

.container {
    max-width: 1024px;
    margin: 0px auto;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}


    /* HEADER */

.header-nav {
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.header-nav a:hover {
    color: #ffda68;
}

.header-nav ul {
    display: flex;
    align-items: right;
    justify-content: space-between;

}

.header-nav ul li {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 50px;
}


    /* MAIN */

.general {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px;
}

.photo-section img {
    height: 370px;
    width: 349px;
    margin-bottom: 30px;
}

.left-column {
    width: 400px;
}

.right-column {
    width: 400px;
}

.block {
    background-color: white;
    margin: 0px 40px;
}

.contact-section a {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.photo-section {
    text-align: center;
}

.experience-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}


.period {
    width: 120px;
}

h3 {
    font-size: 16px;
}

a {
    text-decoration: none;
    color: black;
    padding: 3px 0px;
}

.cv-download {
    margin-left: 40px;
    font-weight: 700;

}

    /* FOOTER */

.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    height: 70px;
}
        
.footer ul {
    display: flex;
}
    
.footer img {
    height: 30px;
    margin-right: 50px;
}