.block {
    width: 320px;
    margin: auto;
    padding: 40px;
    background-color: white;
    border: solid gray;
}

h1 {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

img {
    display: block;
    margin: 0 auto;
}

body {
    background-color: gainsboro;
}

